<!DOCTYPE html>
<html>
<head>
    
    <title>task manager</title>
    <link rel="stylesheet" href="show1.css">
</head>
<body>
    <h1>Task Manager</h1>
    <form method="post" action="/task">
        <h2>Task Name : <input type="text" name ="name"></h2>
        <button class="add">Add</button>
        <br>


        <textarea name="description" class="textarea" placeholder="description..."></textarea>
    
        
    </form>
    <br>
    <br>
    <form method="get" action="/tasks">
        <button class="alltasks">All Tasks</button>
    </form>
    
</body>
</html>